{{ template "base" .}}
    
{{define "content"}}
  <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Home Page</h1>
            <hr>
            <form method="POST" action="/login">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" >
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

            <hr>
            <p>Your request is from {{.IPAddress}}</p> <br/>

            <p>From Session:  {{index .Data "test" }}</p>
            <!--- Getting information from a map uses format index .Map "key" here index .Data "test"-->

            <hr>
        </div>
    </div>
  </div>
{{end}}

